.left-navbar {
    width: 300px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    padding-top: 6rem; /* Added top padding */
    border-radius: 20px;
  }
  
  .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1.5rem 2rem 1.5rem;
  }
    
  .nu-logo {
    width: 45px; /* Smaller logo size */
    height: auto;
    border-radius: 0px;
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    padding: 0; /* Removed padding */
    margin-top: 1rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 2rem 2rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    opacity: 0.7;
  }
  
  .nav-item.active {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 1;
    border-left: none;
    color: #ffcc00;
    border-left: 3px solid #ffcc00; /* Yellow indicator for active state */
  }
  
  .nav-item:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  .bottom-buttons {
    margin-top: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem; /* Space between buttons */
    padding-bottom: 20rem; 
  }
  
  .settings-button, .logout-button {
    background-color: #333;
    border: none;
    border-radius: 12px; /* Square with rounded corners */
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .settings-button:hover, .logout-button:hover {
    background-color: #444;
    transform: translateY(-2px); /* Slight lift effect */
  }